# --- IDE & Editor ---
.idea
*.iml
xcuserdata
captures
.DS_Store

# --- Build & Output ---
.gradle
**/build/
!src/**/build/
local.properties
.externalNativeBuild
.cxx
node_modules/

# --- Kotlin & Java Compiled ---
*.class
.kotlin/
*.jar
*.war
*.nar
*.ear

# --- Logs & Crash Reports ---
*.log
hs_err_pid*
replay_pid*

# --- Apple/Xcode (Multiplatform) ---
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# --- Package & Archive ---
*.zip
*.tar.gz
*.rar

# --- Others ---
*.ctxt
.mtj.tmp/
